* {
  margin: 0;
}

.section-content {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  padding: 20px 0;
  text-align: center;
}

.spacer {
  height: 10px;
}

.grid {
  display: grid;
  max-width: 1200px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 10px 10px;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .section-content {
    width: 980px;
  }
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.box {
  height: 50px;
}

.box:nth-child(odd) {
  background-color: red;
}

.box:nth-child(even) {
  background-color: blue;
}
